<!doctype html>
<html>
<head>
  <script src="lib/sugar-web/activity/toolbarmode.js"></script>
	<meta charset="utf-8">
	<title>Abecedarium Activity</title>
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, viewport-fit=cover"/>
	<link rel="stylesheet" href="../../css/tokens.css">
	<link rel="stylesheet" media="not screen and (device-width: 1200px) and (device-height: 900px)" href="lib/sugar-web/graphics/css/sugar-96dpi.css">
	<link rel="stylesheet" media="screen and (device-width: 1200px) and (device-height: 900px)" href="lib/sugar-web/graphics/css/sugar-200dpi.css">
    <link rel="stylesheet" href="../../css/sugar-redesign.css">

	<link rel="stylesheet" href="css/introjs.css">
	<link rel="stylesheet" href="css/libnotify.css">
	<link rel="stylesheet" href="styles.css">
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<script src="lib/vue.global.prod.js"></script>
	<script src="lib/intro.js"></script>
	<script>if (window.module) module = window.module;</script>
	<script src="lib/require.js"></script>
	<script type="text/javascript" src="../../cordova.js"></script><!-- HACK: need only on Android -->
</head>
<body>
	<div id="app">
		<sugar-toolbar ref="SugarToolbar">
			<sugar-toolitem id="activity-button" data-toolbar="advanced" title="Abecedarium Activity"></sugar-toolitem>
			<sugar-toolitem id="png-button" data-toolbar="advanced" title="Export to PNG" :style="{visibility: showExport ? 'visible' : 'hidden'}" :active="state.tojournal == 1" @click="toggleExport(1)"></sugar-toolitem>
			<sugar-toolitem id="sound-button" data-toolbar="advanced" title="Export to SOUND" :style="{visibility: showExport ? 'visible' : 'hidden'}" :active="state.tojournal == 2" @click="toggleExport(2)"></sugar-toolitem>
			<sugar-toolitem id="stop-button" title="Stop" class="pull-right" @click="onStop"></sugar-toolitem>
			<sugar-toolitem id="fullscreen-button" data-toolbar="advanced" title="Fullscreen" class="pull-right" @click="setFullscreen(true)"></sugar-toolitem>
			<sugar-toolitem id="help-button" data-toolbar="advanced" title="Tutorial" class="pull-right" @click="onHelp"></sugar-toolitem>
		</sugar-toolbar>

		<!-- The content of the activity goes inside the canvas -->
		<div id="canvas" class="board" :style="{top: state.fullscreen ? '0px' : ''}">
			<div id="body">
				<abcd-home v-if="screen == 'home'" @credits="showCredits = true" @learn="openScreen('learn')" @play="openScreen('play')"></abcd-home>
				<abcd-learn v-else-if="screen == 'learn'" ref="screen" :context="screenContext"></abcd-learn>
				<abcd-play v-else-if="screen == 'play'" ref="screen" :context="screenContext"></abcd-play>
			</div>
			<abcd-credits v-if="showCredits" @close="showCredits = false"></abcd-credits>
		</div>
		<button class="toolbutton pull-right" id="unfullscreen-button" data-toolbar="advanced" title="UnFullscreen" :style="{visibility: state.fullscreen ? 'visible' : 'hidden'}" @click="setFullscreen(false)"></button>

		<sugar-activity ref="SugarActivity" @initialized="onInitialized"></sugar-activity>
		<sugar-localization ref="SugarL10n"></sugar-localization>
		<sugar-popup ref="SugarPopup"></sugar-popup>
		<sugar-tutorial ref="SugarTutorial"></sugar-tutorial>
	</div>

	<script src="js/components/SugarActivity.js"></script>
	<script src="js/components/SugarToolbar.js"></script>
	<script src="js/components/SugarL10n.js"></script>
	<script src="js/components/SugarPopup.js"></script>
	<script src="js/components/SugarTutorial.js"></script>
	<script src="js/abcd.js"></script>
	<script src="js/audio.js"></script>
	<script src="js/components/AbcdItems.js"></script>
	<script src="js/components/AbcdButtons.js"></script>
	<script src="js/components/AbcdHome.js"></script>
	<script src="js/components/AbcdLearn.js"></script>
	<script src="js/components/AbcdPlay.js"></script>
	<script src="js/tutorial.js"></script>
	<script src="js/activity.js"></script>
</body>
</html>
